<a href="https://colab.research.google.com/github/Rajora0/nlp_studies/blob/main/Lemmatization_e_stemming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Criação do DataFrame de palavras

In [ ]:
import pandas as pd

In [ ]:
df_palavras = pd.DataFrame(['amigos', 'amigas', 'amizade', 'carreira', 'carreiras', 'tempestade'], columns=['Original'])
df_palavras

     Original
0      amigos
1      amigas
2     amizade
3    carreira
4   carreiras
5  tempestade

#Stemmer

In [ ]:
import nltk
nltk.download('rslp')

[nltk_data] Downloading package rslp to /root/nltk_data...
[nltk_data]   Unzipping stemmers/rslp.zip.

True

In [ ]:
stemmer = nltk.stem.RSLPStemmer()

In [ ]:
df_palavras['nltk_stemmer'] = df_palavras['Original'].apply(stemmer.stem)
df_palavras

     Original nltk_stemmer spacy_lemma
0      amigos         amig       amigo
1      amigas         amig       amigo
2     amizade       amizad     amizade
3    carreira         carr    carreira
4   carreiras         carr    carreira
5  tempestade    tempestad  tempestade

#Spacy lemmatization

In [ ]:
!python -m spacy download pt -qq

     |████████████████████████████████| 21.2 MB 1.2 MB/s
  Building wheel for pt-core-news-sm (setup.py) ... done
✔ Download and installation successful
You can now load the model via spacy.load('pt_core_news_sm')
✔ Linking successful
/usr/local/lib/python3.7/dist-packages/pt_core_news_sm -->
/usr/local/lib/python3.7/dist-packages/spacy/data/pt
You can now load the model via spacy.load('pt')

In [ ]:
import spacy

In [ ]:
nlp = spacy.load('pt')

In [ ]:
doc = nlp(str([palavra for palavra in df_palavras['Original']]))
df_palavras['spacy_lemma'] = [token.lemma_ for token in doc if token.pos_ == 'NOUN']
df_palavras

     Original nltk_stemmer spacy_lemma
0      amigos         amig       amigo
1      amigas         amig       amigo
2     amizade       amizad     amizade
3    carreira         carr    carreira
4   carreiras         carr    carreira
5  tempestade    tempestad  tempestade